:host {
   display: block;
   width: 100%;
}

.error {
   margin: auto;
   color: red;
   font-size: 2rem;
   font-weight: 900;
   text-align: center;
}

.add-button {
   display: block;
   margin: 1rem 1rem 1rem auto;
   --md-filled-icon-button-container-size: 4rem;
   --md-filled-icon-button-icon-size: 3rem;
}
